body{
    margin: 0px;
}

.topic-container{
    display: grid;
    height:100vh;
    grid-template-columns: 50% auto;
}

input{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0F0934;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.5s ease-in-out, box-shadow 0.15s ease-in-out;
}

.t-from-container{
    align-content : center;
    margin-left: 30%;
    margin-top: 40px;
}

.t-form-label {
    margin-bottom: 0.6rem;
    font-size: 1rem;
}

.t-title-container{
    align-content : center;
    margin-left: 30%;
    margin-top: 10%;
}


.sideLable{
    color:#fff;
    font-size:5rem ;
    font-weight:200;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.br1{
    display: block;
    margin-bottom: -2em;
}

.subLable{
    color:#B7B5C2; 
}

.sublable-container{
    width: 300px;
    margin-left: 30%;
    margin-top: 20px;
}

.side-btn{
    background-color: #00D8B6;
    font-size:2rem ;
    color:#fff;
    border-radius: 2px;
    padding: 5px 10px 5px;
    margin-left: 30%;
}

.img-side{
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

.bottom-t-container{
    position:absolute;
    bottom: 0px;
    right: 10px;

}

.bottom-t{
    font-weight: bold;
    font-size: 1rem;
}

.s-from-container{
    align-content : center;
    margin-left: 30%;
    margin-top: -30px;
}

.s-form-label {
    margin-bottom: 0.6rem;
    font-size: 1rem;
    color:#84809F
}

.s-input{
    background-color: #84809F;
}

.side-panel{
    background-color: #0F0934;
    background-image: url('https://res.cloudinary.com/sliit-yasantha/image/upload/v1653115770/Tinted_yzseh1.jpg');
    background-repeat: no-repeat, repeat;
    background-size:cover;
}

.purpled{
    background-color: #0F0934;
    height: 35px;
    width: 180px;
}

.head-container{
    margin-top: 20px;
    margin-left: 20%;
}

.h-text{
    color: #0F0934;
    font-size: 3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.t-list-container{
    display: grid;
    height:100vh;
    grid-template-columns: 20% auto;
}

.t-list-head-container{
    margin-top: 20px;
    margin-left: 10%;
}

.t-list-tb-container{
    align-content : center;
    margin-left: 10%;
    margin-top: 40px;
    max-width: 80%;
}

.t-table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(52, 7, 175, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #2a027f;
    --bs-table-hover-bg: rgba(41, 4, 143, 0.414);
    width: 100%;
    margin-bottom: 1rem;
    color: #292221;
    vertical-align: top;
    border-color: #dee2e6;
  }

.t-table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: var(--bs-table-striped-color);
 }

 .t-table > tbody {
    vertical-align: inherit;
  }
  .t-table > thead {
    vertical-align: bottom;
  }
  .t-table > :not(:first-child) {
    border-top: 2px solid currentColor;
  }

  .t-table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  }
  
  .t-nav-btn{
      padding: 10px 10px 10px;
      background-color: #0F0934;
      color: #fff;
  }

  .down-btn{
      background-color: #00D8BE;
      font-size: 3rem;
  }

  .marking-container{
    display: grid;
    height:100vh;
    grid-template-columns: 20% 40% auto;
}

.m-from-container{
    align-content : center;
    margin-left: 10%;
    margin-top: 40px;
}

.m-form-label {
    margin-bottom: 2px;
    font-size: 0.8rem;
}

.m-select{
    font-size: 0.6rem;
    color: red;
}



.m-sub-container{
    float: left;
    padding-right: 20px;
}

.m-sub-container2{
    margin-left: 50px;
    padding-left: 20%;
}



  